<nav class='navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class='navbar-nav'>
      <li class='nav-item'><a class='nav-link' routerLinkActive='active'
            [routerLink]="['/home']">Home</a>
      </li>
      <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['/products']">Product List</a>
      </li>
      <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['/products/0/edit']">Add Product</a>
      </li>
    </ul>
  </nav>
    <router-outlet></router-outlet>