﻿<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN0fj3c1xi3IJNXi8Uv0x8nwdAxdu7x6BEzA&usqp=CAU" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN0fj3c1xi3IJNXi8Uv0x8nwdAxdu7x6BEzA&usqp=CAU" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN0fj3c1xi3IJNXi8Uv0x8nwdAxdu7x6BEzA&usqp=CAU" class="d-block w-100" alt="...">
    </div>
  </div>
</div>